@import "../variables.css";

.main__comments {
  padding-top: 19px;
}

h2.main__comments_title {
  font-size: 1.5em;
  padding-bottom: 19px;
}

a:hover {
  color: var(--blue-link-hover);
}

.main__comments_reply {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
}


