@import "../variables.css";

.main__comments {
  padding-top: 19px;
}

h2.main__comments_title {
  font-size: 1.5em;
  padding-bottom: 19px;
}

.main__coments_block {
  margin-bottom: 15px;
  margin-top: 10px;
}

.main__coments_block .modal__content {
  width: 80%;
  max-width: 600px;
  min-width: 439px;
  padding: 0px;
}

.main__coments_info, .main__coments_info a{
  color: var(--blue-link);
}
a:hover {
  color: var(--blue-link-hover);
}

.main__comments_reply {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
}

.btn {
  margin-right: 10px;

  background-color: transparent;
  color: var(--grey);
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

.btn:hover {
  color: var(--black);
}

p.main__coments_paragraph {
  line-height: 1.5;
}

@media (min-width: 1024px) {
  h2.main__comments_title {
    font-size: 30px;
  }

  p.main__coments_paragraph {
    font-size: 16px;
  }
  .main__coments_block {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    margin-bottom: 12px;

  }
}


