.modal__card{
    color: var(--black);
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 8px;
  }
  
  .modal__card img {
    border-radius: 50%;
    width:100px;
    height: 100px;
    display: block;
    margin: 0 auto; 
    border: 3px solid var(--white);
  }
  
  .modal__card_btns {
    margin-top: 72px;
  }
  button.btn.modal__btn {
    font-size: 12px;
    font-weight: 100;
    color: var(--black)
  }
  button.btn.modal__btn:hover {
    font-weight: bolder;
  }
  .modal__card_profile_name {
    font-weight: bolder;
    margin: 13px 0px;
  }
  .modal__card_profile {
    font-size: 14px;
    padding: 20px;
    background: var(--modal-profile);
  }
  .modal__card_posts {
    height: 339px;
    padding: 20px;
    width: 362px;
  }
  .modal__cards {
    height: 297px;
    overflow-y: auto;
    width: 332px;
  }

  .modal__card_posts_content {
    cursor:pointer;
    border-bottom: 1px solid #80808047;
    padding: 15px 0px;
    border-radius: 1%;
    width:100%;
    font-size: 13px;
  }
  .modal__cards_posts_subscontent {
    margin-bottom: 7px;
    width: 300px;
  }
  .modal__cards_posts_subscontent p {
    display: inline; 
  }
  p.modal__card_style_title {
    font-weight: bolder;
  }
  @media (max-width: 768px) {
    .modal__card_btns .btn {
      margin-bottom: 0px;
      font-size: 12px;
    }
  }
  